html, body {
  margin: 0;
}
body, .section, .label, .chaosFactorHolder, .buttonHolder, .button {
  display: flex;
}
body, .section {
  flex-direction: column;
}
body {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  row-gap: 10px;
  align-items: center;
  background-color: black;
}
.section {
  width: 100%;
  max-width: 800px;
}
.results, .buttonHolder, .button {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  justify-content: center;
}
.tracked, .results, .label, .button {
  font-family: sans-serif;
}
.results, .label, .button {
  font-size: 1em;
}
.chaosFactor, .results, .button {
  align-items: center;
  text-align: center;
}
.results {
  height: calc(2em + 32px);
  border: 6px double white;
  color: white;
}
.label, .button {
  font-weight: bold;
}
.tracked, .label {
  color: white;
  text-transform: uppercase;
}
.buttonHolder {
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  border: 2px solid white;
}
.button {
  flex: 1 0 calc(calc(100% - 10px)/3);
  max-width: calc(calc(100% - 10px)/3);
  background-color: white;
  user-select: none;
  cursor: pointer;
}
.button:hover {
  background-color: gold;
}
.button:active {
  background-color: goldenrod;
}
.chaosFactor .label {
  width: 100%;
  justify-content: center;
}
.chaosFactorHolder {
  padding-top: 4px;
  border-top: 2px solid white;
  justify-content: center;
}
.tracked {
  width: 2em;
  height: 1em;
  font-size: 2em;
  text-align: center;
}
.chaosFactor .button {
  flex: 0;
  height: 2em;
  aspect-ratio: 1 / 1;
}
p {
  margin: 0;
}
::selection {
  background-color: goldenrod;
}
.yes {
  color: lime;
}
.no {
  color: red;
}