html, body {
  margin: 0;
}
body, .section, .label, .buttonHolder, .button {
  display: flex;
}
body, .section {
  flex-direction: column;
}
body {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  row-gap: 10px;
  align-items: center;
  background-color: black;
}
.section {
  width: 100%;
  max-width: 800px;
}
.results, .buttonHolder, .button {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  justify-content: center;
}
.results, .label, .button {
  font-family: sans-serif;
}

.results, .button {
  align-items: center;
  text-align: center;
}
.results {
  height: calc(2em + 20px);
  border: 2px solid crimson;
  color: crimson;
}
.label, .button {
  font-weight: bold;
}
.label {
  color: white;
  text-transform: uppercase;
}
.buttonHolder {
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  border: 2px solid white;
}
.button {
  flex: 1 0 calc(calc(100% - 10px)/3);
  max-width: calc(calc(100% - 10px)/3);
  background-color: white;
}
